@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
